<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224733741125-t8sb7turapsb7tu6omjaqsljr6og5j39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224733741125-t8sb7turapsb7tu6omjaqsljr6og5j39</string>
	<key>API_KEY</key>
	<string>AIzaSyDRsNQ-rjcgoOCKeNv_iz65xAeEovU9HbM</string>
	<key>GCM_SENDER_ID</key>
	<string>224733741125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iaft.CustomLogin</string>
	<key>PROJECT_ID</key>
	<string>customlogin-68231</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-68231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224733741125:ios:026d319c564874c894a32c</string>
	<key>DATABASE_URL</key>
	<string>https://customlogin-68231.firebaseio.com</string>
</dict>
</plist>